body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
}

.map {
  height: 300px;
  width: 400px;
}

main {
  position: relative;
  top: 0;
}
